<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>イラスト掲示板</title>
        <meta name="viewport" content="width=device-width">


        <link rel="stylesheet" href="css/main.css">
        </head>
    <body>
        <div class="header">
            <a href="/" class="head">イラスト掲示板</a>
        </div>
        <div class="sub">
            <div class="make">
                <a href="/make">テーマの投稿</a>
            </div>
            <ul>
                <% for(var i in chats) { %>
                    <li><a href="/ch<%-chats[i].item_id%>"><%=chats[i].name%></a></li>
                <% } %>
            </ul>
        </div>
        <div class="main">
            <div class="title">welcome!!</div>
            <h1>掲示板</h1>
            <div class="box2">
                <ul>
                    <% for(var i in chats) { %>
                        <li><a href="/ch<%-chats[i].item_id%>"><%=chats[i].name%></a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </body>
</html>
