<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>掲示板作成</title>
        <meta name="viewport" content="width=device-width">


        <link rel="stylesheet" href="css/main.css">
        </head>
    <body>
        <div class="header">
            イラスト掲示板
        </div>
        <div class="sub">
            <div class="make">
                <a href="upload.html">テーマの投稿</a>
            </div>
            <ul>
                <li>1</li>
                <li>1</li>
            </ul>
        </div>
        <div class="main">
            <div class="title">タイトル</div>
            <form action="/illustupload" method="post">
                <div class="fields-group">
                    <div class="fields"><input type="name" class="inputfield" name="password" placeholder="掲示板名"></div>
                </div>
                <input type="submit" class="submit-button" value="作成">
            </form>
        </div>
    </body>
</html>
