<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>掲示板作成</title>
        <meta name="viewport" content="width=device-width">


        <link rel="stylesheet" href="css/main.css">
        </head>
    <body>
        <div class="header">
            <a href="/" class="head">イラスト掲示板</a>
        </div>
        <div class="sub">
            <div class="make">
                <a href="/make">テーマの投稿</a>
            </div>
            <ul>
                <% for(var i in chats) { %>
                    <li><a href="/ch<%-chats[i].item_id%>"><%=chats[i].name%></a></li>
                <% } %>
            </ul>
        </div>
        <div class="main">
            <div class="title">掲示板作成</div>
            <form action="/makechat" method="post">
                <div class="fields-group">
                    <div class="fields"><input type="text" class="inputfield" name="name" placeholder="掲示板名"></div>
                </div>
                <input type="submit" class="submit-button" value="作成">
            </form>
        </div>
    </body>
</html>
